    .backgroundCadastro {
        display: flex;
        align-content: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .cadastroContainer {
        border: solid #3248AE 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        max-width: 1000px;
        width: 75%;
    }

    .linhaCadastro {
        border-bottom: solid 2px #3248AE;
        margin: 10px;
        width: 80%;
    }

    .cadastroTitle {
        display: flex;
        justify-content: center;
        font-weight: 800;
        font-size: 50px;
        padding: 0 100px;
    }

    .inputsPaginaCadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .cadastroInputContainer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 15px;
        width: 180%;
        margin-right: 30px;
    }

    .dados {
        width: 400px;
    }

    .fonteDados {
        font-weight: 500;
        font-size: 30px;
    }

    .inputCadastro {
        margin: 15px;
        padding: 10px 10px;
        width: 65%;
        background-color: #e0e0e0;
        border-radius: 50px;
        font-size: 16px;
        border: transparent;
    }

    .cadastroButtonContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

    }

    .buttonsPaginaCadastro {
        border-radius: 15px;
        font-size: 20px;
        padding: 10px 80px;
        width: 100%;
    }

    #buttonPaginaCadastro {
        background-color: #3248AE;
        border-color: #3248AE;
        color: #ffffff;
        font-weight: 400;
    }

    .buttonsCadastro:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 100ms;
    }

    .linhaDadosLogin {
        border-bottom: solid 2px #3248AE;
        padding-bottom: 30px;
        width: 100%;
    }

    @media (max-width:1200px) {
        .cadastroInputContainer {
            width: 100%;
        }
    }