.backgroundPerfil {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.perfilContainer {
    border: solid #3248AE 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    max-width: 1000px;
    width: 75%;
}

.linhaPerfil {
    border-bottom: solid 2px #3248AE;
    margin: 10px;
    width: 80%;
}

.perfilTitle {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 50px;
    padding: 0 100px;
}

.inputsPaginaPerfil {
    display: flex;
    justify-content: center;
}

.perfilInputContainer {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 15px;
}

.dadosPerfil {
    width: 400px;
}

.fonteDadosPerfil {
    font-weight: 500;
    font-size: 40px;
}
.fonteDadosInput{
    font-size: 25px
}

.dadosValor {
    display: flex;
    align-items: center;
    margin: 15px;
    height: 45px;
    max-width: 500px;
    background-color: #e0e0e0;
    border-radius: 50px;
}

.inputPerfil {
    background-color: #DCDCDC;
    padding: 10px 10px;
    border: transparent;
    border-radius: 50px;
    max-width: 500px;
    font-size: 16px;
}

.fonteDadosValor{
    margin-left: 15px;
    font-size: 16px;
}

.boxUltimosPedidos {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.boxFavoritos {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.boxProduto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.imgUltimosComprados {
    height: 200px;
}
.fonteNome{
    font-size: 25px;
}

.imgFavoritos {
    height: 200px;
}

.botaoFavorito {
    border: none;
    background: white;
    color: lightgray;

}

.imagemUltimosPedidos {
    display: flex;
    align-items: flex-start;
    margin: 40px auto 20px;
    justify-content: center;

}

.imagemFavoritos {
    display: flex;
    align-items: flex-start;
    margin: 40px auto 20px;
    justify-content: center;

}

.botaoFavoritado {
    border: none;
    background: white;
    color: red;

}

.dadosProduto {
    margin: 15px;
}

.fonteValor {
    font-weight: 300;
    font-size: 22px;
}

.botaoComprarNovamente {
    background-color: #3248AE;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 10px;
    border: transparent;
}

.botaoComprarNovamente:hover {
    transform: scale(1.01);
    transition: 100ms;
}

.botaoComprar {
    background-color: #3248AE;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 10px;
    border: transparent;
}

.botaoComprar:hover {
    transform: scale(1.01);
    transition: 100ms;
}

.linha {
    border-bottom: solid 2px #3248AE;
    padding-bottom: 30px;
    width: 100%;
}
.botaoLogout{
    border-radius:15px;
        font-size:20px;
        padding:10px 50px;
        width:50%;
        background-color: #3248AE;
        border-color:#3248AE;
        color:#ffffff;
        font-weight:400;
        margin:0 auto;
        text-align: center;
}

@media (max-width:1200px) {
    .boxUltimosPedidos {
        max-width: 400px;
    }

    .boxFavoritos {
        max-width: 400px;
    }
    .botaoLogout{
        font-size:14px;
    }
}
@media (max-width:800px){
    .dadosPerfil {
        width: 300px;
    }
    .dadosValor{
        width: 300px;
    }
    .perfilTitle {
        font-size: 35px;
    }
    .fonteDadosPerfil {
        font-size: 30px;
    }
    .fonteDadosInput{
        font-size: 20px
    }
    .fonteDadosValor{
        font-size: 13px;
    }
    .imgUltimosComprados{
        height: 150px;
    }
    .fonteNome{
        font-size: 20px;
    }
    .fonteValor {
        font-size: 20px;
    }
    .botaoComprarNovamente{
        font-size: 13px;
    }
    .botaoComprar{
        font-size: 13px;
    }
}
@media (max-width:650px){
    .dadosPerfil {
        width: 200px;
    }
    .perfilInputContainer{
        justify-content: center;
        align-items: center;
    }
    .imgUltimosComprados{
        height: 80px;
    }
    .dadosValor{
        width: 200px;
    }
    .boxProduto{
        width: 200px;
    }
    .boxUltimosPedidos{
        width: 200px;
    }
    .boxFavoritos{
        width: 200px;
    }
    .linha{
        width: 200px;
    }
    .botaoLogout{
        width:60%;
        padding:2px 50px;
        
    }
    
}
