.backgroundPerfil{
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.perfilContainer{
    border: solid #3248AE 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:40px;
    max-width: 1000px;
    width: 75%;
}

.linhaPerfil{
    border-bottom: solid 2px #3248AE;
    margin: 10px;
    width: 80%;
}

.perfilTitle{
    display: flex;
    justify-content: center;
    font-weight:800;
    font-size:50px;
    padding: 0 100px;
}

.inputsPaginaPerfil{
    display: flex;
    justify-content: center;
}

.perfilInputContainer{
    display:flex;
    max-width: 800px;
    flex-direction:column;
    row-gap:20px;
    margin-bottom:15px;
}

.dados{
    width:400px;
}

.fonteDados{
    font-weight:500;
    font-size:30px;
}

.dadosValor{
    display: flex;
    align-items: center;
    margin: 15px;
    height: 45px;
    max-width: 500px;
    background-color: #e0e0e0;
    border-radius: 40px;
}

.inputPerfil{
    background-color: #DCDCDC;
    padding:10px 10px;
    border: transparent;
    border-radius:50px;
    max-width:500px;
    font-size: 16px;
}

.boxUltimosPedidos{
    display: flex;
    flex-direction: row;
}

.boxProduto{
    display: flex;
    flex-direction: row;
}

.imagemBotao{
    display: flex;
    align-items: flex-start;
    margin:40px auto 200px;
    justify-content: center;

}

.imgUltimosComprados{
    height:200px;
}

.botaoFavorito{
    border:none;
    background:white;
    color: lightgray;

}

.botaoFavoritado{
    border:none;
    background:white;
    color:red;
    
}

.dadosProduto{
    margin: 15px;
}

.fonteValor{
    font-weight: 300;
}

.botaoComprarNovamente{
    background-color: #3248AE;
    color:white;
    font-weight:400;
    font-size:14px;
    padding:5px 30px;
    border-radius:10px;
    border: transparent;
}
.botaoComprarNovamente:hover{
    transform: scale(1.01);
    transition: 100ms;
}

.linha{
    border-bottom: solid 2px #3248AE;
    padding-bottom: 30px;
    width: 100%;
}