* {
  font-family: "Inter", sans-serif;
}
.backgroundContainerProdutos {
  padding: 30px 0;
  
}
.tituloPrincipalProdutos {
  font-size: 23px;
  margin: 0 6%;
  border-bottom: #3248ae solid 2px;
  padding-bottom: 5px;
  

}
.containerProdutos {
  box-sizing: border-box;
  margin: 0 6%;
  
  
}
.produtosGridBox{
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-wrap:wrap;
   
}
.imagemProduto{
  height: 250px;
}
.produtosGridItems{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:5% 3%;
  
}