header{
    background-color: #A8D5E2;
    padding:20px 0px;
    border-bottom:3px black solid;
}
.headerContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
.logoHeader{
    width:250px;
    
}
.headerButtons{
    background-color:#A8D5E2;
    border:none;
}

.headerButtons:hover{
    
    transform: scale(1.1);
    cursor:pointer;
    transition:100ms;
}

.heart{
    background-color:#A8D5E2;
    border:none;
}
.heart:hover{
    color:red;
    transform: scale(1.1);
    cursor:pointer;
    transition:100ms;
}